p {
    background: wheat;
    padding: 0;
    margin: 0;
}
.my-flex-item {
    background-color: #ebebef;
    color: #bbb;
    text-align: center;
    height: 30px;
    line-height: 30px;
    width: 100%;
    font-size: 14px;
    margin: 0 8px;
}